.navbar {
    background-color: #E2E2E2;
    color: #333;
    padding: 1rem;
    display: flex;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
  
.title {
    font-size: 1.5rem;
    margin: 0;
    transition: color 0.3s ease; /* Add transition for smooth color change */
  }
  
  .title:hover {
    color: #5AA364; /* Color change on hover to match the button's hover color */
  }
  
.github-button {
    display: inline-block;
    padding: 0.5rem 1rem;
    background-color: #6BBB75;
    color: #fff;
    text-decoration: none;
    border-radius: 0.5rem;
    font-weight: bold;
    transition: background-color 0.3s ease;
    margin-left: auto; 
}
  
.github-button span {
    display: block; 
}
  
.github-button:hover {
    background-color: #5AA364;
}