@import './colors.css';

body {
  font-family: 'Poppins', sans-serif;
}

::-webkit-scrollbar {
  width: 0.7rem;
}

::-webkit-scrollbar-thumb {
  background: var(--general);
  border-radius: 0.3rem;
}

::-webkit-scrollbar-track {
  background: var(--background);
}

::selection {
  background-color: initial;
}