body {
  font-family: 'Poppins', sans-serif;
}

::-webkit-scrollbar {
  width: 0.7rem;
}

::-webkit-scrollbar-thumb {
  background: #A4B494;
  border-radius: 0.3rem;
}

::-webkit-scrollbar-track {
  background: #F5F5F5; 
}

::selection {
  background-color: #A4B494;
  color: #FFF;
}