.data-cell {
    vertical-align: top;
    font-size: 0.8rem;
}
  
.data {
    border-radius: 0.5rem;
    background-color: #C9CEBA;
    padding: 8px;
    border: 1px solid #ccc;
    
    border: 1px solid #999E89;
}

.data:hover {
    background-color: #A7AD94;
    transition: background-color 0.3s ease;
}
  
.data p {
    color: #5F6450;
}

.data-cell.empty-cell {
    min-width: 10rem;  
}
  
.empty-cell-content {
    visibility: hidden;
} 