@import './colors.css';

.data-cell {
    vertical-align: top;
    font-size: 0.8rem;
}
  
.data {
    border-radius: 0.5rem;
    background-color: var(--general);
    padding: 0.5rem;
    border: 0.06rem solid var(--general-hover);
}

.data:hover {
    background-color: var(--general-hover);
    transition: background-color 0.3s ease;
}

.data p {
    color: var(--background);
}

.data-cell.empty-cell {
    min-width: 10rem;  
}
  
.empty-cell-content {
    visibility: hidden;
} 