.dropdown {
  position: relative;
  margin-top: 1rem;
  margin-left: 1rem;
}

.input-container {
  margin: 2rem;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 0.7rem; 
  background-color: #A4B494;
  color: #FFF;
  border-radius: 0.5rem;
  border: none;
  font-size: 0.9rem; 
  transition: background-color 0.3s ease;
  margin-bottom: 0.5rem;
  outline: none; 
}

.header::placeholder {
  color: #FFF; 
}

.header:hover {
  background-color: #8F9E7E;
  border: none;
}

.list {
  position: absolute;
  top: 100%;
  left: 0;
  width: calc(100% - 4rem); 
  background-color: #DADED5;
  border: 1px solid #ddd;
  border-radius: 0.4rem;
  list-style: none;
  padding: 0;
  margin: 0;
  
  display: none;
  max-height: 15rem; 
  overflow-y: auto; 
  z-index: 1;
}

.dropdown:hover .list {
  display: block;
}

.list li {
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 1rem;
}

.list li:hover {
  background-color: #BABFB5;
}