.dropdown {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.dropdown-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0.5rem 1rem;
  background-color: #E29477;
  color: #fff;
  border-radius: 0.4rem;
  user-select: none;
  font-size: 1.1rem;
  transition: background-color 0.3s ease;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 0.5rem;
}

.dropdown-header:hover {
  background-color: #d57e61;
}

.dropdown-list {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: #f5f5f5;
  border: 1px solid #ddd;
  border-radius: 0.4rem;
  list-style: none;
  padding: 0;
  margin: 0;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  display: none;
  max-height: 15rem; 
  overflow-y: auto; 
  z-index: 1;
}

.dropdown:hover .dropdown-list {
  display: block;
}

.dropdown-list li {
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 1rem;
}

.dropdown-list li:hover {
  background-color: #E1E1E1;
}

.dropdown-content input[type="text"] {
  width: 100%;
  padding: 0.5rem 1rem;
  border: 1px solid #ddd;
  border-radius: 0.4rem;
  margin-bottom: 0.5rem;
  font-size: 1rem;
  background-color: #f5f5f5;
  color: #333;
}