.dropdown {
  margin: 2rem;
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0.5rem 1rem;
  background-color: #A4B494;
  color: #fff;
  border-radius: 0.5rem;
  user-select: none;
  font-size: 1.1rem;
  transition: background-color 0.3s ease;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 0.5rem;
}

.header:hover {
  background-color: #8F9E7E;
}

.list {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: #F5F5F5;
  border: 1px solid #ddd;
  border-radius: 0.4rem;
  list-style: none;
  padding: 0;
  margin: 0;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  display: none;
  max-height: 15rem; 
  overflow-y: auto; 
  z-index: 1;
}

.dropdown:hover .list {
  display: block;
}

.list li {
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 1rem;
}

.list li:hover {
  background-color: #E1E1E1;
}

.content input[type="text"] {
  width: 100%;
  padding: 0.5rem 1rem;
  border: 1px solid #DDD;
  border-radius: 0.4rem;
  margin-bottom: 0.5rem;
  font-size: 1rem;
  background-color: #F5F5F5;
  color: #333;
}

.content input[type="text"]:focus {
  outline: none; 
}