@import './colors.css';

.banner {
    background-color: var(--background);
    text-align: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.banner img {
    max-width: 100%;
    height: auto;
    width: 50%; 
}

.button-container {
    margin-top: 1.2rem; 
    display: flex;
    gap: 2rem; 
}
  
.github-button,
.try-button {
    display: inline-block;
    padding: 0.5rem 1rem;
    background-color: var(--general);
    color: var(--white);
    text-decoration: none;
    border-radius: 0.5rem;
    font-weight: 300;
    font-size: 1.5rem;
    transition: background-color 0.3s ease;
}
  
.github-button:hover,
.try-button:hover {
    background-color: var(--general-hover);
} 

@media (max-width: 1200px) {
    .banner img {
        width: 60%;
    }
}

@media (max-width: 992px) {
    .banner img {
        width: 70%;
    }
}

@media (max-width: 768px) {
    .banner img {
        width: 80%;
    }
}

@media (max-width: 576px) {
    .banner img {
        width: 90%;
    }
}

@media (max-width: 480px) {
    .banner img {
        width: 100%;
    }
}