.timetable {
    margin-top: 1.25rem;
}

.loading {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 12.5rem; 
    font-size: 1.2rem;
    color: var(--gray);
}  

p {
    color: var(--black);
    text-align: center; 
}
  
table {
    border-collapse: collapse;
    width: 100%;
    border: 0.06rem solid var(--platinum);
    font-size: 0.8rem;
}
  
th, td {
    padding: 0.5rem;
    text-align: center; 
    border: 0.06rem solid var(--silver);
    color:  var(--black);
}
  
th,
.time-column {
    background-color: var(--platinum);
    font-weight: bold;
}
  
td {
    vertical-align: top;
    font-size: 0.8rem;
}

.timetable {
    margin-top: 1.2rem;
}